@model IEnumerable<LibraryManagementAPI.Models.User>

<style>
    .custom-blue-btn {
        display: inline-block;
        padding: 10px 15px;
        font-size: 16px;
        color: white;
        background-color: blue;
        border: none;
        border-radius: 5px;
        text-decoration: none;
    }

        .custom-blue-btn:hover {
            background-color: darkblue;
        }
</style>

<h2>Users List</h2>
<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>FullName</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UID</td>  
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.UID" class="btn btn-warning text-dark">Edit</a>
                    <a asp-action="Delete" asp-route-id="@user.UID" class="btn btn-danger">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="custom-blue-btn">Add New User</a>
<br />
<br />
<br />